*{
    margin: 0px;
    padding: 0px;

}
body{
    background-color: #000;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    color: white;
}
header{
    max-width: 100%;
    background: url(../img/IN-en-20240520-popsignuptwoweeks-perspective_alpha_website_medium.jpg) center;
    background-size: cover;
}
.head-top{
    max-width: 100%;
    height: 100%;
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}
.top-row{
    max-width: 1028px;
    padding: 10px 48px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-row select{
    color: white;
    padding: 6px 30px;
    background-color: transparent;
    margin-right: 20px;
}
.top-row button{
    background-color: #C11119;
    padding: 8px 22px;
    border: none;
    border-radius: 5px;
    color: white;

}
.head-main{
   margin: 0px auto;
   padding: 122px 0px 170px 0px;
   max-width: 875px;
   
}
.head-main h1{
    font-size: 3rem;
    font-weight: 900;
}
.head-main h3{
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 16px;
    text-align: center;
}
.head-main p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 16px;
    text-align: center;
}
.sing-in{
    max-width: 540px;
    margin: 0px auto;
    padding: 20px 10px 0px 10px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sing-in input{
    max-width: 332px;
    padding: 18px 16px 8px 16px;
    color: white;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 5px;
}
.sing-in button{
    padding: 12px 23px;
    color: white;
    background-color: rgb(229, 9, 20);
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}
.border{
    max-width: 100%;
    height: 0.5rem;
    background-color: rgb(35,35,35);
}
section{
    padding: 72px 0px;
}
section .middle{
    max-width: 1028px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}
.middle-left h2{
    font-size: 48px;
    font-weight: 900;
}
.middle-left p{
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    margin-top: 16px;
}
.middle-right{
    position: relative;
}
.middle-right img{
    max-width: 508px;
}
.first-video{
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 79px;
    left: 68px;
    overflow: hidden;
    z-index: -1;
}
.last-video{
    max-width: 63%;
    max-height: 47%;
    position: absolute;
    top: 50px;
    left: 80px;
    overflow: hidden;
    z-index: -1;
}
.middle-last{
    max-width: 1028px;
    margin: 0px auto;
    padding: 0px 30px;
}
.middle-last h2{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}
.question-box{
    margin-top: 24px;
}
.question-bar{
    max-width: 100%;
}
.question{
    max-width: 100%;
    background-color: rgb(45,45,45);
    color: rgb(255,255,255);
    margin-bottom: 8px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h2{
    font-size: 1.5rem;
    font-weight: 400;
}
.question i{
    font-size: 1.9rem;
    font-weight: 400;
}
.answer{
    max-width: 100%;
    background-color: rgb(45,45,45);
    color: rgb(255,255,255);
    padding: 24px;
    display: none;
}
.answer span{
    font-size: 1.4rem;
    font-weight: 400;
}
.ready{
    margin-top: 2.85rem;
}
.ready h3{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}
footer{
    max-width: 100%;
    padding: 72px;
}
.footer-main{
   max-width: 1028px;
   margin: auto;
   padding: 0px 48px;
   color: rgba(255,255,255,0.7);

}
.footer-main h4{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
}
.footer-main a{
    color: rgba(255,255,255,0.7);
}
.footer-link{
    max-width: 100%;
    padding: 12px 0px 26px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-link p{
    flex-basis: 20%;
    padding: 16px 0px 0px 12px;
}
.last-button select{
    color: white;
    padding: 6px 30px;
    background-color: transparent;
}
.footer-main h5{
    font-size: 1rem;
    font-weight: 400;
    padding-top: 24px;
}
